[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	st = status
[push]
	default = simple
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	email = hultberg@mittnett.net
	name = Edvin Hultberg
	signingkey = 9C6170166133EFF7
[commit]
	#gpgsign = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
