"*":
  "atom-autocomplete-php":
    binComposer: "/usr/bin/composer"
    gotoKey: "ctrl"
    insertNewlinesForUseStatements: true
  "atom-clock":
    dateFormat: "HH:mm"
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  "atom-material-ui":
    colors:
      abaseColor: "#2196f3"
      predefinedColor: "Blue"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  "autocomplete-plus":
    autoActivationDelay: 250
    enableAutoActivation: false
    maxVisibleSuggestions: 15
  blame:
    defaultWidth: 500
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "metrics"
      "whitespace"
      "language-blueberry"
      "image-view"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-mustache"
      "language-make"
      "language-objective-c"
      "language-perl"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "link"
      "open-on-github"
      "package-generator"
      "styleguide"
      "update-package-dependencies"
      "welcome"
      "atom-clock"
      "ide-php"
      "ide-vue"
      "dalek"
      "php-integrator-navigation"
      "github"
      "linter-phpmd"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      "node_modules"
      "storage/**/*"
      ".idea"
    ]
    packagesWithKeymapsDisabled: [
      "center-cursor"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-material-syntax-dark"
    ]
    useCustomTitleBar: false
  docblockr:
    per_section_indent: true
  editor:
    fontFamily: "Fira Code"
    fontSize: 17
    lineHeight: 2.05
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "ex-mode":
    splitbelow: true
    splitright: true
  "exception-reporting":
    userId: "0727cd07-7b58-4fdd-9239-326f2005d915"
  "fast-eslint":
    grammarScopes: [
      "source.js"
      "source.jsx"
      "source.es6"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
      "source.vue"
    ]
  "file-watcher":
    autoReload: true
  "fuzzy-finder":
    ignoredNames: [
      ".git"
      "._*"
      "node_modules"
      "storage/**/*"
      ".idea"
      "vendor/umpirsky/**/*"
      "vendor/webpatser/**/*"
    ]
    preserveLastSearch: true
  hyperclick:
    linuxTriggerKeys: "shiftKey,ctrlKey"
  "ide-php":
    phpPath: "/usr/local/bin/php"
  linter:
    lintOnChange: false
    lintOnChangeInterval: 400
    lintPreviewTabs: false
  "linter-eslint":
    lintHtmlFiles: true
  "linter-php":
    executablePath: "/usr/local/bin/php"
  "linter-phpcs":
    autoExecutableSearch: false
    disableWhenNoConfigFile: true
    executablePath: "~/.composer/vendor/bin/phpcs"
  "linter-phpmd":
    autoExecutableSearch: false
    executablePath: "/home/edvin/.config/composer/vendor/bin/phpmd"
  "linter-ui-default":
    panelHeight: 300
  "markdown-preview": {}
  minimap:
    absoluteMode: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      "minimap-hide": true
      "minimap-hideDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui":
    fontSize: 12
    tabSizing: "Minimum"
  "package-generator":
    packageSyntax: "coffeescript"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "php-cs-fixer":
    executablePath: "/home/edvin/.config/composer/vendor/bin/php-cs-fixer"
    executeOnSave: true
    pathMode: "intersection"
  "php-debug":
    GutterBreakpointToggle: false
    ServerAddress: "0.0.0.0"
    currentPanelHeight: "275px"
    currentPanelMode: "bottom"
  "php-integrator-autocomplete-plus": {}
  "php-integrator-base":
    core: {}
    general:
      indexContinuously: false
    linting:
      showMissingDocs: false
  "php-integrator-base:confirmed-upgrade-message": true
  "php-integrator-linter":
    showMissingDocs: false
  tabs:
    enableVcsColoring: true
  "time-for-break":
    timeBetween: 1
  "tree-view":
    autoReveal: true
    focusOnReveal: false
  "vim-mode":
    useSmartcaseForSearch: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    clearMultipleCursorsOnEscapeInsertMode: true
    stayOnDelete: true
    stayOnTransformString: true
    stayOnYank: true
    useClipboardAsDefaultRegister: true
    useSmartcaseForFind: true
    useSmartcaseForSearch: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1492498417
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
