"*":
  "atom-clock":
    dateFormat: "HH:mm"
  "atom-material-ui":
    colors:
      abaseColor: "#2196f3"
      predefinedColor: "Blue"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  blame:
    defaultWidth: 500
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "metrics"
      "whitespace"
      "php-twig"
      "language-blueberry"
      "linter-php"
      "image-view"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-mustache"
      "language-make"
      "language-objective-c"
      "language-perl"
      "language-ruby"
      "language-ruby-on-rails"
      "language-toml"
      "language-xml"
      "link"
      "open-on-github"
      "package-generator"
      "styleguide"
      "update-package-dependencies"
      "welcome"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-material-syntax-dark"
    ]
    useCustomTitleBar: false
  docblockr:
    per_section_indent: true
    spacer_between_sections: true
  editor:
    fontFamily: "Fira Code"
    lineHeight: 2.05
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "fast-eslint":
    grammarScopes: [
      "source.js"
      "source.jsx"
      "source.es6"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
      "source.vue"
    ]
  "file-watcher":
    autoReload: true
  "fuzzy-finder":
    ignoredNames: [
      ".git"
      "._*"
      "node_modules"
    ]
  linter:
    lintOnChange: false
    lintPreviewTabs: false
  "linter-eslint":
    lintHtmlFiles: true
  "linter-php":
    executablePath: "/usr/local/bin/php"
  "linter-phpcs":
    autoExecutableSearch: false
    disableWhenNoConfigFile: true
    executablePath: "~/.composer/vendor/bin/phpcs"
  "linter-phpmd":
    executablePath: "/home/edvin/.config/composer/vendor/bin/phpmd"
    rulesets: "cleancode,codesize,unusedcode"
  "linter-ui-default":
    panelHeight: 53
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    absoluteMode: true
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui":
    fontSize: 12
  "package-generator":
    packageSyntax: "coffeescript"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "php-cs-fixer":
    executablePath: "/home/edvin/.config/composer/vendor/bin/php-cs-fixer"
    executeOnSave: true
    pathMode: "intersection"
  "php-integrator-autocomplete-plus":
    automaticallyAddUseStatements: false
  "php-integrator-base":
    additionalIndexingDelay: 2
    memoryLimit: 512
    phpCommand: "/usr/local/bin/php"
  "php-integrator-linter":
    showMissingDocs: false
  tabs:
    enableVcsColoring: true
  "time-for-break":
    timeBetween: 1
  "tree-view":
    autoReveal: true
    focusOnReveal: false
  "vim-mode":
    useSmartcaseForSearch: true
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1492498417
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
