"*":
  "atom-clock":
    dateFormat: "HH:mm"
  "atom-material-ui":
    colors:
      abaseColor: "#2196f3"
      predefinedColor: "Blue"
    fonts:
      fontSize: 14
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  blame:
    defaultWidth: 500
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    disabledPackages: [
      "metrics"
      "whitespace"
      "vim-mode-plus"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-material-syntax-dark"
    ]
    useCustomTitleBar: false
  docblockr:
    per_section_indent: true
    spacer_between_sections: true
  editor:
    fontFamily: "Fira Code"
    fontSize: 15
    lineHeight: 2
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "fuzzy-finder":
    ignoredNames: [
      ".git"
      "._*"
      "node_modules"
    ]
  linter:
    errorPanelHeight: 74
    lintOnChange: false
    lintPreviewTabs: false
  "linter-php":
    executablePath: "/usr/local/bin/php"
  "linter-phpcs":
    autoExecutableSearch: false
    disableWhenNoConfigFile: true
    executablePath: "~/.composer/vendor/bin/phpcs"
  "linter-phpmd":
    executablePath: "~/.composer/vendor/bin/phpmd"
    rulesets: "cleancode,codesize,unusedcode"
  "linter-ui-default":
    panelHeight: 53
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    absoluteMode: true
    plugins:
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui":
    fontSize: 12
  "package-generator":
    packageSyntax: "coffeescript"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "php-cs-fixer":
    executablePath: "/home/edvin/.config/composer/vendor/bin/php-cs-fixer"
    executeOnSave: true
    fixerArguments: [
      "--using-cache=no"
      "--no-interaction"
      "--config .php_cs"
    ]
  "php-integrator-autocomplete-plus":
    automaticallyAddUseStatements: false
  "php-integrator-base":
    additionalIndexingDelay: 2
    memoryLimit: 512
    phpCommand: "/usr/local/bin/php"
  "php-integrator-linter":
    showMissingDocs: false
  tabs:
    enableVcsColoring: true
  "time-for-break":
    timeBetween: 1
  "tree-view": {}
  "vim-mode":
    useSmartcaseForSearch: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  "wakatime-hidden":
    lastInit: 1487621052
  welcome:
    showOnStartup: false
".blade.html.php.text":
  editor:
    commentEnd: " --}}"
    commentStart: "{{-- "
