'atom-text-editor':
    'ctrl--': 'advanced-open-file:toggle'
'atom-text-editor.vim-mode-plus.normal-mode':
    'ctrl-r': 'symbols-view-plus:toggle-file-symbols' 
'atom-text-editor.vim-mode-plus.insert-mode':
    'ctrl-j': 'vim-mode-plus:activate-normal-mode'
    'ctrl-ø': 'vim-mode-plus:activate-normal-mode'
    'ctrl-r': 'symbols-view-plus:toggle-file-symbols'
;