packages: [
  "advanced-open-file"
  "atom-clock"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "busy-signal"
  "docblockr"
  "editorconfig"
  "ex-mode"
  "file-icons"
  "file-watcher"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "language-blade"
  "language-diff"
  "language-docker"
  "language-ini"
  "language-nginx"
  "language-vue"
  "less-than-slash"
  "linter"
  "linter-eslint"
  "linter-php"
  "linter-phpmd"
  "linter-ui-default"
  "minimap"
  "minimap-bookmarks"
  "minimap-find-and-replace"
  "minimap-git-diff"
  "minimap-hide"
  "minimap-highlight-selected"
  "minimap-linter"
  "minimap-selection"
  "nucleus-dark-ui"
  "package-sync"
  "php-cs-fixer"
  "php-integrator-annotations"
  "php-integrator-autocomplete-plus"
  "php-integrator-base"
  "php-integrator-call-tips"
  "php-integrator-navigation"
  "php-integrator-refactoring"
  "php-twig"
  "project-manager"
  "scroll-percentage"
  "vim-mode-plus"
  "wakatime"
]
