packages: [
  "advanced-open-file"
  "atom-debug-ui"
  "atom-ide-ui"
  "atom-material-syntax"
  "atom-material-syntax-dark"
  "busy-signal"
  "docblockr"
  "editorconfig"
  "ex-mode"
  "file-icons"
  "file-watcher"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "language-blade"
  "language-diff"
  "language-docker"
  "language-ini"
  "language-nginx"
  "language-vue"
  "less-than-slash"
  "linter"
  "linter-eslint"
  "linter-jsonlint"
  "linter-phpmd"
  "linter-tslint"
  "linter-ui-default"
  "minimap-find-and-replace"
  "minimap-hide"
  "minimap-highlight-selected"
  "minimap-plus"
  "minimap-selection"
  "package-sync"
  "php-cs-fixer"
  "php-debug"
  "php-ide-serenata"
  "php-twig"
  "project-manager"
  "vim-mode-plus"
  "vim-mode-plus-keymaps-for-surround"
  "wakatime"
]
