'.source.php':
    'array_item':
        'prefix': 'ai'
        'body': """
'${1:key}' => $2,
"""
    
    'array_parent':
        'prefix': 'ap'
        'body': """
'${1:key}' => [
    $2
],
"""
    
    'class':
        'prefix': 'cl'
        'body': """
declare(strict_types=1);        

namespace CC\\\\$1;

class $2
{
    $3
}
"""
        
    'boilerplate_test':
        'prefix': 'cct'
        'body': """
declare(strict_types=1);        

namespace CC\\\\Tests\\\\$1;

use CC\\\\Tests\\\\TestCase;

class $2 extends TestCase
{
    $3
}
"""
    'boilerplate_db_test':
        'prefix': 'cctd'
        'body': """
declare(strict_types=1);    

namespace CC\\\\Tests\\\\$1;

use CC\\\\Tests\\\\DatabaseTestCase;

class $2 extends DatabaseTestCase
{
    $3
}
"""

'.text.html.vue,.source.js':
    'import':
        'prefix': 'imp'
        'body': """
import $1 from '$2';    
"""
    
    'vuedata':
        'prefix': 'da'
        'body': """
  data() {
    return {
      $1
    };
  },
"""
    'vuehook':
        'prefix': 'lh'
        'body': """
  ${1:hook}() {
    $2
  },
"""
    'vueobject':
        'prefix': 'obj'
        'body': """
  ${1:key}: {
    $2
  },
"""

    'vuemethod':
        'prefix': 'me'
        'body': """
    ${1:methodName}($2) {
      $3
    },
"""
