atom-text-editor {
  text-rendering: optimizeLegibility;
  
  * {
      transition: all ease .06s; 
  }
  
  .gutter {
      .line-number {    
          transition: all .3s ease;
          
          &.cursor-line,
          &.cursor-line-no-selection {
              background-color: rgba(7, 78, 185, .4);
          }
      }
  }  
}

atom-text-editor .syntax--string.syntax--quoted,
atom-text-editor .syntax--string.syntax--regexp {
  -webkit-font-feature-settings: "liga" off, "calt" off;
}
