[Unit]
Description=Compton
After=local-fs.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/compton -CbG

[Install]
WantedBy=user-graphical-login.target
